.goals-text {
    font-weight: 300;
    color: #737976;
    text-align: center;
    margin-top: 15px;
    height: 48px;
}

.goals-functionality-text {
    font-weight: 300;
    color: #737976;
    text-align: center;
    margin-bottom: 15px;
}

.placeholder {
    color: rgb(85, 26, 139);
}

.center {
    text-align: center;
}

.settings-font {
    font-weight: 300;
}

.domain-field {
    height: 100px;
}